
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/tests/homework_9/
/types/payment_type.ts
/locators/productOrderLocator.ts
/data/payment_data.ts
