
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/helpers/courseHelper.ts
/helpers/employeeHelper.ts
/helpers/flightBookingHelper.ts
/helpers/orderHelper.ts
/helpers/paymentHelper.ts
/helpers/testcaseHelper.ts
/helpers/productHelper.ts
/tests/homework-buoi-6
/tests/homework-buoi-2-3-4-5
/locators/signup.locators.ts
/locators/login.locators.ts
/tests/locators-practices